@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

#calculator {
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.7);
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  width: 25rem;
  display: table;
  cursor: move;
  position: relative;
  background: #22B7F2;
  margin: 2rem auto;
}

.screen {
  height: 8rem;
  color: #FBFFFE;
  line-height: 7rem;
  text-align: right;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;

}

.result {
  max-width: 23rem;
  overflow: hidden;
  padding-top: 2rem;
  -webkit-flex: 1.1;
  flex: 1.1;
  display: flex;
  font-size: 2.5rem;
  justify-content: flex-end;
}

#keypad {
  margin: 0 auto;
}

#keypad li {
  list-style-type: none;
  width: 25%;
  background: #1C2524;
  color: #ffffff;
  float: left;
  text-align: center;
  height: 5rem;
  font-size: 3rem;
  border: 1px solid #fff;
  cursor: default;

}

#keypad li:hover {
  /*background: #bce06f;*/
  background: linear-gradient(#DAD299, #B0DAB9);
}

#keypad .extend {
  width: 50%;
}

#keypad .button {
  background: #590202;
  color: white;
  font-size: 3rem;
  border-right: none;
}

#keypad .buttonTop {
  background: #FC5A2C;
  color: white;
  font-size: 3rem;
  cursor: default;
  padding-top: 0.5rem;
}

#keys {
  padding: 0;
}

/*-------- media queries --------*/

@media screen and (max-width: 980px) {
  #calculator {
    width: 22rem;
  }

  .screen {
    height: 8rem;
  }

  .result {
    line-height: 8rem;
  }
}
