
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #ECF0F1;

}

input[type="radio"] {
  display: none;
}

header {
  margin: 2rem 1.5rem;
}

header > *:first-child::after {
  background-color: #193441;
  content: "";
  display: block;
  height: 1px;
  width: 12rem;
  margin: 2rem 0;
}

header > h1:first-child::after {
  margin: 2rem auto;
}

h1 {
  font-size: 5rem;
  color: #2C3E50;
  font-family: "roboto_slablight", sans-serif;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 4rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li, input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0;
}

header p {
  letter-spacing: 0.5px;
  line-height: 2.8rem;
}

/********* Icons **********/
ul.wrapper__icons {
  cursor: default;
}

ul.wrapper__icons li {
  display: inline-block;
}

.wrapper__icon::before {
  font-size: 2.25rem;
  -moz-osx-font-smoothing: grayscale;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper__icon > .wrapper__label {
  display: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #2980B9;
}

/*-----------Home Header-------*/
.wrapper__vertical {
  text-align: center;
  padding-bottom: 0;
}

.wrapper__vertical li {
  display: block;
  margin: 0.5rem;
  padding-top: 1.5rem;
  position: relative;
}

.wrapper__vertical li:first-of-type {
  padding-top: 0;
}

.wrapper__vertical-line li::after {
  background-color: #3E606F;
  content: "";
  display: block;
  height: 2rem;
  left: 50%;
  position: absolute;
  top: 100%;
  width: 1px;
}

.wrapper__vertical-line li:last-of-type::after {
  display: none;
}

ul.wrapper__buttons--spinY {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.wrapper__buttons--spinY li {
  margin-top: 1.5rem;
  padding: 0;
  width: 15rem;
  height: 3.5rem;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

ul.wrapper__buttons--spinX li {
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

ul.wrapper__buttons--spinX li label {
  -webkit-transition: transform 0.5s ease-in 0s;
  -moz-transition: transform 0.5s ease-in 0s;
  -ms-transition: transform 0.5s ease-in 0s;
  transition: transform 0.5s ease-in 0s;
}

ul.wrapper__buttons--spinY li label {
  -webkit-transition: transform 0.5s ease-in 0s;
  -moz-transition: transform 0.5s ease-in 0s;
  -ms-transition: transform 0.5s ease-in 0s;
  transition: transform 0.5s ease-in 0s;
}

/* click on buttons on home page it'll be spin */
ul.wrapper__buttons--spinY li:focus > label {
  transform: rotateY(480deg);
}

/* spin action for back button */
ul.wrapper__buttons--spinX li:focus > label {
  transform: rotateX(480deg);
}

.wrapper__vline li::after {
  background-color: #3E606F;
  content: "";
  display: block;
  height: 2rem;
  left: 50%;
  position: absolute;
  top: 100%;
  width: 1px;
}

.wrapper__vline li:last-of-type::after {
  display: none;
}

/********Buttons*********/
.wrapper__button {
  border: 0;
  border-radius: 8px;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 2rem;
  box-shadow: 0 0 0 1px #3E606F inset;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  width: 15rem;
  text-transform: uppercase;
}

.wrapper__button--small {
  font-size: 1.2rem;
  width: 12rem;
  padding: 0.2rem 5rem;
}

/*set color & border for button when hover */
.wrapper__button:hover {
  box-shadow: 0 0 0 1px #2980B9 inset;
  color: #2980B9;
}

/*----------------------------*/
article#home {
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;

  -webkit-transition: transform 0.7s, opacity 0.7s;
  -moz-transition: transform 0.7s, opacity 0.7s;
  -ms-transition: transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s;

}

/*------- home -------------*/

article#home {
  opacity: 1;
  z-index: 5;
}

#home .wrapper__image {

  -webkit-animation: moveRight ease-out 0.7s;
  -moz-animation: moveRight ease-out 0.7s;
  animation: moveRight ease-out 0.7s;

}

#home .wrapper__content {

  -webkit-animation: moveLeft ease-out 0.7s;
  -moz-animation: moveLeft ease-out 0.7s;
  animation: moveLeft ease-out 0.7s;
  z-index: -5;

}

#home .wrapper__image,
#about .wrapper__image,
#contact .wrapper__image {
  background: #3E606F url("images/pic") no-repeat center;
  background-size: cover;
}

/*---------------------------*/
article#projects, article#skills, article#about, article#contact {
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;

  opacity: 0;
  -webkit-transition: transform 0.7s, opacity 0.7s;
  -moz-transition: transform 0.7s, opacity 0.7s;
  -ms-transition: transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s;

  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;

}

article#projects, article#skills, article#about, article#contact {

  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

/*----------------------------*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-size: 2rem;
  line-height: 1;
  background: #ECF0F1;
  background: rgba(62, 96, 111, 0.7);

  color: #2C3E50;
  font-family: 'roboto_slablight', Helvetica, Arial, sans-serif;
}

.wrapper__panel {
  display: flex;
  justify-content: center;
  width: 90%;
  min-height: 62rem;
}

#home .wrapper__image,
#about .wrapper__image,
#contact .wrapper__image {
  background: #3E606F url("images/pic") no-repeat center;
  background-size: cover;
}

.wrapper__panel > .wrapper__content {
  background-color: #BDD4DE;
  width: 45%;
  -webkit-transform: translateZ(0); /*to avoid OSX and anti-aliasing in Safari. Safari lightens certain font color */

}

.wrapper__panel > .wrapper__image {
  width: 45%;
}

input#article-projects:checked ~ #projects,
input#article-skills:checked ~ #skills,
input#article-about:checked ~ #about,
input#article-contact:checked ~ #contact {
  opacity: 1;
  z-index: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input#article-projects:checked ~ #home,
input#article-skills:checked ~ #home,
input#article-about:checked ~ #home,
input#article-contact:checked ~ #home {
  opacity: 0;

  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);

  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;

}

/*-------- About & Contact -----------*/

#about .wrapper__image,
#about .wrapper__content,
#contact .wrapper__image,
#contact .wrapper__content {
  opacity: 0;
  -webkit-transition: transform 0.7s, opacity 0.7s ease;
  -moz-transition: transform 0.7s, opacity 0.7s ease;
  -ms-transition: transform 0.7s, opacity 0.7s ease;
  transition: transform 0.7s, opacity 0.7s ease;

  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;

}

#about .wrapper__image, #contact .wrapper__image {
  transform: translateY(2rem);
}

#about .wrapper__content, #contact .wrapper__content {
  transform: translateY(-2rem);
}

input#article-about:checked ~ #about .wrapper__content,
input#article-about:checked ~ #about .wrapper__image,
input#article-contact:checked ~ #contact .wrapper__content,
input#article-contact:checked ~ #contact .wrapper__image {
  opacity: 1;
  transform: translateY(0);
}

input#back-home-about:checked ~ #about .wrapper__content,
input#back-home-contact:checked ~ #contact .wrapper__content {
  transform: translateY(-2rem);
}

input#back-home-about:checked ~ #about .wrapper__image,
input#back-home-contact:checked ~ #contact .wrapper__image {
  transform: translateY(2rem);
}

input#back-home-about:checked ~ #home,
input#back-home-contact:checked ~ #home {
  opacity: 1;
}

input#back-home-about:checked ~ #about,
input#back-home-contact:checked ~ #contact {

  -webkit-transition: transform 0.7s, opacity 0.7s;
  -moz-transition: transform 0.7s, opacity 0.7s;
  -ms-transition: transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s;

  /*--- this delay need to be larger than wrapper__image & wrapper__content delay---- */
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;

}

input#back-home-about:checked ~ #about .wrapper__image,
input#back-home-about:checked ~ #about .wrapper__content,
input#back-home-contact:checked ~ #contact .wrapper__image,
input#back-home-contact:checked ~ #contact .wrapper__content {
  -webkit-transition: transform 0.7s, opacity 0.7s;
  -moz-transition: transform 0.7s, opacity 0.7s;
  -ms-transition: transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s;

  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;

}

/*----------- Skills ----------*/

input#back-home-skills:checked ~ #skills,
input#back-home-projects:checked ~ #projects {
  opacity: 0;

  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);

  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;

}

#skills .wrapper__content,
#projects .wrapper__content {
  width: 90%;
  min-width: 90%;
  margin: 0 3rem;
  padding-left: 3rem;
}

#skills ul.wrapper__buttons--spinX li,
#projects ul.wrapper__buttons--spinX li {
  display: inline-block;
  font-size: 1.6rem;
  vertical-align: middle;
  width: 20rem;
}

/*-------------projects tabs----------*/
#projects .tabs article {
  padding-left: 15%;
  width: 80%;
}

/*------------- graph ----------------*/
.skills {
  text-align: center;
}

.wrapper__progress {
  width: 75%;
}

.wrapper__frontend, .wrapper__backend {
  color: #ffffff;
  float: left;
  font-size: 1.25em;
  padding: 5px 10px;
}

.wrapper__frontend {
  background-color: #ee7785;
  border-radius: 2px 0 0 2px;
  padding-left: 0.5em;
  width: 45%;
}

.wrapper__backend {
  background-color: #4a70eb;
  border-radius: 0 2px 2px 0;
  padding-right: 0.5em;
  width: 30%;
}

.wrapper__frontend span {
  margin: 0 auto;
}

.flex-row {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: space-around;

  width: 100%;
}

.flex-col1, .flex-col2, .flex-col3 {
  padding: 0;
  width: 33%;
  margin-top: 5rem;
  color: inherit;
  font-size: 1.8rem;

}

.flex-col1 h3 {
  margin: 1.7rem 0;
  color: #2d4991;
}

.flex-col1 .xAxis, .flex-col2 .xAxis {
  padding-left: 22%;
}

.flex-col1 .yAxis {
  color: #2d4991;
}

.flex-col2 h3, .flex-col2 .yAxis {
  color: #b65b5f;
}

.flex-col3 h3, .flex-col3 .yAxis {
  color: #38b9f0;
}

.flex-col2 .xAxis li {
  padding-top: 1.5rem;
}

.flex-col3 .xAxis li {
  white-space: nowrap;
}

.wrapper__graph {
  border-bottom: 1px solid #bababa;
  display: flex;
  flex-wrap: wrap;
  height: 15rem;
  margin: 0 auto;
  text-align: center;
  width: 30rem;
}

.yAxis {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-pack: justify;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding-bottom: 2em;
  width: 25%;
  font-size: 1.2rem;
  font-weight: bold;
}

.xAxis {
  -moz-box-pack: justify;
  display: flex;
  width: 100%;
  font-size: 1.2rem;
}

.flex-col1 .xAxis li, .flex-col2 .xAxis li {
  font-size: 1rem;
  line-height: 1;
  padding-left: 1.25rem;
  padding-top: 1.3rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 4.5rem;
}

.flex-col3 .xAxis {
  direction: rtl;
  padding-top: 1.8rem;
  padding-right: 1rem;
}

.flex-col3 .xAxis li {

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);

  width: 4.5rem;
}

.wrapper__graph-column {
  -moz-box-align: end;
  -moz-box-pack: justify;
  align-items: flex-end;
  display: flex;
  height: inherit;
  justify-content: space-between;
  width: 70%;
}

/*--------- Tooltip ---------*/
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
  z-index: 2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.col {
  border-radius: 2px 2px 0 0;
  bottom: 0;
  list-style: outside none none;
  padding: 0;
  position: relative;
  width: 15%;
}

#fCol1 {
  height: 65%;
  background-color: #ffac42;
}

#fCol2 {
  height: 68%;
  background-color: #38b9f0;
}

#fCol3 {
  height: 10%;
  background-color: #6ad12c;
}

#fCol4 {
  height: 10%;
  background-color: #fa8ab0;
}

#fCol5 {
  height: 40%;
  background-color: #f0e210;
}

#bCol1 {
  height: 10%;
  background-color: #ffac42;
}

#bCol2 {
  height: 25%;
  background-color: #38b9f0;
}

#bCol3 {
  height: 35%;
  background-color: #6ad12c;
}

#bCol4 {
  height: 10%;
  background-color: #fa8ab0;
}

#bCol5 {
  height: 20%;
  background-color: #f0e210;
}

#os1 {
  height: 50%;
  background-color: #ffac42;
}

#os2 {
  height: 80%;
  background-color: #38b9f0;
}

#os3 {
  height: 40%;
  background-color: #6ad12c;
}

#os4 {
  height: 85%;
  background-color: #fa8ab0;
}

#os5 {
  height: 20%;
  background-color: #f0e210;
}

/*--------------Tab Accordion------------------*/
.tabs {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  display: block;
  padding-top: 3rem;
  position: relative;
  width: 90%;
}

.tabs input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabs section {
  display: block;
}

.tabs section label {
  background: #2C3E50;
  color: #ECF0F1;
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.5rem 2rem;
  position: relative;
  width: 25rem;
  z-index: 100;
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.tabs section label:hover {
  background-color: rgba(52, 152, 219, 0.7);
  cursor: pointer;
}

.tabs section article {
  font-size: 1.6rem;
  display: none;
  left: 28rem;
  min-width: 30rem;
  position: absolute;
  top: 0;
}

.tabs input[name="sections"]:checked + label {
  background: #3498DB;
  color: #ECF0F1;
}

.tabs input[name="sections"]:checked ~ article {
  display: block;
}

/* ------- contact form ------*/
input[type="text"], input[type="password"], input[type="email"],
input[type="search"], select, textarea {
  -moz-appearance: none;
  background: #ECF0F1 none repeat scroll 0 0;
  border: 1px solid #3E606F;
  border-radius: 5px;
  color: inherit;
  display: block;
  outline: 0 none;
  padding: 0 0.5rem;
  text-decoration: none;
  font-size: 1.6rem;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus, textarea:focus {
  border-color: #2980B9;
  box-shadow: 0 0 0 1px #2980B9;
}

.wrapper__contact-form .wrapper__actions {
  padding-left: 0;
}

.wrapper__contact-form label {
  font-size: 2rem;
}

form input[type="text"] {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}

.wrapper__contact-form textarea {
  padding: 2rem;
  margin-top: 1rem;
  width: 100%;
}

form {
  padding-left: 3rem;
  padding-right: 3rem;
}

form ul.wrapper__send {
  padding: 0 !important;
}

form .field.half.first {
  clear: left;
  margin-right: 4%;
}

form .field.half {
  clear: none;
  float: left;
  padding: 0 0 2rem 0;
  width: 48%;
}

form .field {
  clear: both;
  margin: 0 0 1em;
}

/*----------back button------------*/

#about .wrapper__content ul,
#contact .wrapper__content ul {
  padding-top: 1.5rem;
}

#about ul,
#contact ul {
  padding-left: 1.5rem;
}

#about ul li,
#contact ul li {
  display: inline-block;
  width: 20rem;
  vertical-align: middle;
  font-size: 1.6rem;
}

/* ---- back button ----*/
.wrapper__back::before {
  background-image: url("images/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: inherit;
  left: 2rem;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease 0s;
  width: 2rem;
}

.wrapper__back::after {
  background-image: url("images/back-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: inherit;
  left: 2rem;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease 0s;
  vertical-align: middle;
  width: 2rem;
}

.wrapper__back:hover::before {
  opacity: 0;
}

.wrapper__back:hover::after {
  opacity: 1;
}

input#back-home-projects:checked ~ #home,
input#back-home-skills:checked ~ #home,
input#back-home-about:checked ~ #home,
input#back-home-contact:checked ~ #home {
  opacity: 1;

  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

/*------------------------*/

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/*------------ keyframes ------------*/

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    opacity: 1 \9; /* IE9 only */
  }
  66% {
    opacity: 0;
    opacity: 1 \9; /* IE9 only */
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    opacity: 1 \9; /* IE9 only */
  }
  66% {
    opacity: 0;
    opacity: 1 \9; /* IE9 only */
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    opacity: 1 \9; /* IE9 only */
  }
  66% {
    opacity: 0;
    opacity: 1 \9; /* IE9 only */
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes moveLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-webkit-keyframes moveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(3rem);
  }
  100% {
    -webkit-transform: translate(0);
  }
}

@-moz-keyframes moveRight {
  0% {
    -moz-transform: translateX(3rem);
  }
  100% {
    -moz-transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(3rem);
  }
  100% {
    transform: translate(0);
  }
}

/*-----spinX for back button -------*/
@-moz-keyframes spinX {
  from {
    -moz-transform: rotateX(0deg);
  }
  to {
    -moz-transform: rotateX(-480deg);
  }
}

@-webkit-keyframes spinX {
  from {
    -webkit-transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-480deg);
  }
}

@keyframes spinX {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-480deg);
  }
}

/*------ spinY for home button---------*/
@-moz-keyframes spinY {
  from {
    -moz-transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(480deg);
  }
}

@-webkit-keyframes spinY {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(480deg);
  }
}

@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(480deg);
  }
}

/*--------------Business Card---------*/

#about .wrapper__content label#bizCard {
  height: 37.5rem;
  top: 0%;
  left: 0%;
  transform-style: preserve-3d;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-perspective: 100rem;
  -moz-perspective: 100rem;
  perspective: 100rem;

}

#about .card {
  width: 98%;
  max-width: 50rem;
  height: 37.5rem;
  padding-left: 1rem;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card .front {
  position: relative;
  width: 100%;
  height: 100%;

  color: #ffffff;
  -webkit-transform: rotateY(0deg);
  background-image: url("images/bg2.png");

}

.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  margin-left: 1rem;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
  background-image: url("images/siouxfalls.jpg");
  background-size: cover;
}

.card .back,
.card .front {

  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;

  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: box-shadow 1s;
  -moz-transition: box-shadow 1s;
  transition: box-shadow 1s;

}

input[type="checkbox"] {
  display: none;
}

#bizCard [type="checkbox"]:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/********* Content ***********/

#bizCard header {
  position: relative;
  text-align: left;
  padding-top: 2.5rem;
  width: 30rem;
}

#bizCard header > :first-child::after {
  content: none;
}

#bizCard header h1 {
  line-height: 10%;
  font-size: 2.5rem;
  color: #92cdcf;
}

#bizCard header h4 {
  line-height: 10%;
  color: #445878;
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

#bizCard .main {
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

#bizCard .main p {
  line-height: 2.5rem;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 0.2px;
  color: #8595a7;
}

#bizCard .main span {
  color: #49bcd8;
  font-weight: bold;
}

#bizCard .main a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #8595a7;
  padding-right: 2rem;
}

#bizCard .main a:hover {
  color: rgba(204, 229, 255, 0.7);
}

#flip-front {
  position: absolute;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0;
  top: 2rem;
  right: 1rem;
  height: 4rem;
}

#flip-back {
  position: absolute;
  padding: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  top: 2rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
}

#bizCard footer {
  font-size: 1.4rem;
  padding-left: 1.5rem;
  bottom: 3rem;
  display: flex;
  position: absolute;
}

#bizCard footer a {
  text-decoration: none;
  color: #942fff;
  padding-right: 1rem;
}

#bizCard footer a:hover {
  color: rgb(184, 65, 255);
}

#bizCard footer span {
  color: #8595a7;
  padding-top: 1rem;
}

#bizCard footer > div {
  padding-top: 0.8rem;
}

#bizCard footer .icons {
  padding-left: 12rem;
}

#bizCard footer .leftCol {
  display: inline-flex;
}

/*------------media queries----------*/

@media screen and (max-width: 320px) {
  .wrapper__graph {
    width: 26rem;
  }

  .flex-col1 .xAxis li, .flex-col2 .xAxis li, .flex-col3 .xAxis li {
    width: 4rem;
  }

}

@media screen and (max-width: 736px) {
  /*
    .flex-col1 .xAxis li, .flex-col2 .xAxis li {
      width: 5rem;
    }
  */
  #email, form div:nth-of-type(2) label {
    margin: 0;
  }

  form .field.half {
    float: none;
    padding: 0;
    width: 100%;
  }

  form .field.half.first {
    padding: 0;
  }

  #bizCard footer {
    display: block;
  }

  #bizCard footer .icons {
    padding-left: 0;
    padding-top: 1rem;
  }

  #bizCard .main p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

}

@media screen and (max-width: 980px) {

  form {
    padding: 0;
  }

  form input[type='text'] {
    width: 100%;
    height: 3.5rem;
  }

  .wrapper__panel {
    flex-direction: column;
  }

  .wrapper__panel > .wrapper__image {
    min-height: 50vh;
    width: 100%;
  }

  .wrapper__panel > .wrapper__content {
    display: block;
    padding: 2.5rem;
    width: 100%;
  }

  .wrapper__panel > .wrapper__content::after {
    display: none;
  }

  #about > .wrapper__image,
  #contact > .wrapper__image {
    transform: translateX(1.5rem);
  }

  #about > .wrapper__content,
  #contact > .wrapper__content {
    transform: translateX(-1.5rem);
  }

  input#back-home-about:checked ~ #about .wrapper__content,
  input#back-home-contact:checked ~ #contact .wrapper__content {
    transform: translateX(-2rem);
  }

  input#back-home-about:checked ~ #about .wrapper__image,
  input#back-home-contact:checked ~ #contact .wrapper__image {
    transform: translateX(2rem);
  }

  #skills .wrapper__content {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-bottom: 11rem;
    min-height: 50rem;
  }

  .flex-row {
    display: block;
    text-align: center;
  }
  /*
    .flex-col1 .xAxis, .flex-col2 .xAxis {
      padding-left: 7.3rem;
    }
  */
  .flex-col1, .flex-col2, .flex-col3 {
    width: 100%;
    margin: 0;
    padding-top: 5rem;
  }

  .flex-col1 .xAxis li, .flex-col2 .xAxis li, .flex-col3 .xAxis li {
    /*width: 4.5rem;*/
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
  }

  .flex-col3 .xAxis {
    padding-top: 0.8rem;
    padding-right: 2.5rem;
  }

  .wrapper__graph {
    margin-top: 0;
  }

  .wrapper__frontend, .wrapper__backend {
    font-size: 1.5rem;
    height: 3rem;
  }

  .wrapper__frontend {
    width: 65%;
  }

  .wrapper__backend {
    width: 35%;
  }

  .wrapper__progress {
    width: 95%;
    padding-bottom: 2rem;
  }
}

