.accordion {
  border: 1px solid #6D929B;
  border-radius: 1rem;
  width: 65%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
}

.accordion [type="radio"] {
  display: none;
}

.accordion ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.accordion ul li {
  padding: 0;
  margin: 0;
  display: inline;
}

.accordion label:hover {
  color: #C1DAD6;
}

.accordion label {
  height: 4rem;
  line-height: 4rem;
  padding-left: 1rem;
  vertical-align: middle;
  display: block;
  cursor: pointer;
  color: #E8D0A9;
  background-color: #6D929B;
  font-size: 2rem;
  -moz-box-shadow: inset 0 -1px #E8D0A9;
  -webkit-box-shadow: inset 0 -1px #E8D0A9;
  box-shadow: inset 0 -1px #E8D0A9;
  text-transform: uppercase;
}

.content {
  font-size: 1.4rem;
  background: #F5FAFA;
  color: #6D929B;
  max-height: 0;
  padding: 0 2rem;
  overflow: hidden;
  -moz-transition: max-height 1s;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.accordion [type="radio"]:checked ~ label ~ .content {
  max-height: 30rem;
}

.content h3 {
  color: #ACD1E9;
}

@media screen and (max-width: 980px) {

  .accordion label {
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
  }

  .accordion .content {
    font-size: 1rem;
  }
  .accordion .content h3 {
    font-size: 1rem;
  }
}