input[type="radio"] {
  display: none;
}

.carousel {
  background: rgba(236, 240, 241, 0.7);
  color: #2C3E50;
  font-size: 1.4rem;
  height: 48rem;
  opacity: 0;
  overflow: hidden;

  padding: 0 2rem;
  padding-bottom: 3rem;
  position: absolute;
  text-align: center;
  left: 29%;

  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  width: 78%;
  top: 3rem;
}

/* carousel item */
.carousel .carousel--item {
  width: 95%;
  height: 36rem;
  line-height: 1.5;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.carousel--item img {
  padding-top: 2rem;
}

.carousel--item span {
  position: absolute;
  top: 20%;
  font-size: 2rem;
  right: 20%;
}

.carousel--bullet:checked + .carousel--item {
  visibility: visible;
  opacity: 1;
}

.carousel--item {
  visibility: visible;
  opacity: 0;
  transition: .5s ease-out opacity, .5s ease-out visibility;
}

/* carousel navigation */
.carousel--nav {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 15px;
  height: 15px;
  z-index: 88;
  cursor: pointer;
  color: #2C3E50;
}

.carousel--nav-previous {
  left: 10px;
}

.carousel--nav-next {
  left: 96%;
}

.carousel--bullet {
  font-size: .75em;
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 80%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(52, 152, 219, 0.7);
  border-radius: 1em;
  transition: .3s ease-out background,
  .3s ease-out transform;
}

.carousel--bullet:nth-of-type(1):checked + .carousel--item + label:nth-of-type(1),
.carousel--bullet:nth-of-type(2):checked + .carousel--item + label:nth-of-type(2),
.carousel--bullet:nth-of-type(3):checked + .carousel--item + label:nth-of-type(3),
.carousel--bullet:nth-of-type(4):checked + .carousel--item + label:nth-of-type(4) {
  background: #193441;
  outline: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.carousel .project-info {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  position: absolute;
  top: 80%;
  text-align: left;
  padding-left: 2rem;
  color: rgba(44, 62, 80, 0.7);
}

.carousel .project-info span {
  font-size: 2rem;
  color: #2C3E50;
}

.carousel .project-info .tech-description {
  margin-top: 0.8rem;
  margin-left: 1rem;
  line-height: 1.2;
}

.carousel .project-info .links {
  margin-top: 1.2rem;
  line-height: 1.2;
}

.carousel .project-info .links ul li {
  width: 25%;
}

@media screen and (max-width: 980px) {

  .carousel {
    position: relative;
    top: 0;
    font-size: 1rem;
    height: 0;
    left: 0;
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    -ms-transition: height 0.5s linear;
    -o-transition: height 0.5s linear;
    transition: height 0.5s linear;
  }

  .carousel .carousel--item {
    width: 100%;
  }

  .carousel .project-info {
    width: 100%;
    top: 82%;
  }

  .carousel .carousel--nav {
    top: 50%;
  }

  .carousel--nav-next {
    left: 95%;
  }

  .carousel--nav-previous {
    left: 0;
  }

  .carousel .carousel--bullet {
    top: 80%;
  }

  .carousel--item span {
    font-size: 1.5rem;
    right: 0;
  }

  .carousel .project-info span {
    font-size: 1.4rem;
  }

}
